/* Medium devices (smartphones) */
@media only screen and (max-width: 600px) {

	img.logo {

		position: absolute;
		width: 50% !important;
		top: 5%;
		left: 10%;

	}

	img.logos {

		position: absolute;
		width: 40%;
		margin-top: 15%;
		margin-left: 0%;

		}

	.upper-bar {

		height: 15%;

	}

	h1.subtitulo {

		margin-top: 15%;

	}

	.logo-bar {

		position: relative;
		height: 35%;

	}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

	img.logo {

		position: absolute;
		top: 9%;
		left: 15%;

	}

	img.logos {

		position: absolute;
		width: 30%;

		}

	.upper-bar {

		height: 15%;
	
	}

	h1.subtitulo {

		margin-top: 25%;

	}

	.logo-bar {

		height: 35%;

	}
	
}
	
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {

	img.logo {

		position: absolute;
		top: 15%;
		left: 15%;

	}

	img.logos {

		position: absolute;
		width: 25%;

		}

	.upper-bar {

		height: 20%;
	
	}	

	h1.subtitulo {

		margin-top: 25%;

	}

	.logo-bar {

		height: 50%;

	}

}
	
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 992px) and (max-width: 1024px) {

	img.logo {

		position: absolute;
		top: 20%;
		left: 15%;
		
	}

	img.logos {

		position: absolute;
		width: 30%;

		}

	.upper-bar {

		height: 15%;
	
	}	

	h1.subtitulo {

		margin-top: 25%;

	}

	.logo-bar {

		height: 60%;

	}

}

@media screen and (min-width: 1025px) and (max-width: 2000px) {
    
	img.logo {

		position: absolute;
		top: 15%;
		left: 15%;

		}

	img.logos {

		position: absolute;
		width: 15%;

		}

	.upper-bar {

		height: 15%;
	
	}	

	h1.subtitulo {

		margin-top: 25%;

	}

	.logo-bar {

		height: 60%;

	}

}

/* Extra large devices (large laptops and desktops, 1025px and up) */
@media screen and (min-width: 2001px) and (max-width: 3000px) {
    
	img.logo {

		position: absolute;
		top: 25%;
		left: 15%;

		}

	img.logos {

		position: absolute;
		width: 15%;

		}

	.upper-bar {

		height: 15%;
	
	}	

	h1.subtitulo {

		margin-top: 16%;

	}

	.logo-bar {

		height: 80%;

	}

}