/* Medium devices (smartphones) */
@media only screen and (max-width: 600px) {

	img.logo {

		position: absolute;
		width: 60%;
		top: 10%;
		left: 4%;

	}

	img.logos {

		left: 38%;
		position: absolute;
		width: 18%;
		padding-top: 5%;

		}

	.upper-bar {

		height: 8%;

	}

	h1.subtitulo {

		margin-top: 30%;
		font-size: 200% !important;
		padding-left: 10%;
		padding-right: 10%;

	}

	.logo-bar {

		height: 15%;

	}

	.card-body {

		font-size: 110% !important;
		padding: 0% !important;

	}

	.btn-link {

		font-size: 35px !important;

	}

	.col-services-text {

		width: 90% !important;
		padding: 0% !important;

	}

	.container {

		padding: 0% !important;

	}

	p.center {

		text-align: center !important;
	
	}

	.col-services-text {

		width: 90% !important;
		margin-top: 2% !important;
		margin-bottom: 2% !important;

	}

	p.center-mail {

		font-size: 100% !important;
	
	}
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

	img.logo {

		position: absolute;
		top: 8%;
		left: 15%;
		width: 40%;

	}

	img.logos {

		left: 40%;
		position: absolute;
		width: 15%;

		}

	.upper-bar {

		height: 8%;
	
	}

	h1.subtitulo {

		margin-top: 20%;
		font-size: 250% !important;
		padding-left: 10%;
		padding-right: 10%;

	}

	.logo-bar {

		height: 16%;

	}

	.card-body {

		font-size: 120% !important;

	}

	.btn-link {

		font-size: 35px !important;

	}

	.col-services-text {

		width: 90% !important;
		margin-top: 2% !important;
		margin-bottom: 2% !important;

	}
	
}
	
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {

	img.logo {

		position: absolute;
		top: 18%;
		left: 18%;
		width: 30%;

	}

	img.logos {

		left: 40%;
		position: absolute;
		width: 15%;

		}

	.upper-bar {

		height: 10%;
	
	}	

	h1.subtitulo {

		margin-top: 18%;
		font-size: 300% !important;
		padding-left: 10%;
		padding-right: 10%;

	}

	.logo-bar {

		height: 13%;

	}

	.card-body {

		font-size: 140% !important;

	}

	.btn-link {

		font-size: 40px !important;

	}

	.col-services-text {

		width: 90% !important;
		margin-top: 2% !important;
		margin-bottom: 2% !important;

	}

}
	
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 992px) and (max-width: 1024px) {

	img.logo {

		position: absolute;
		top: 10%;
		left: 15%;
		width: 35%;
		
	}

	img.logos {

		left: 38%;
		position: absolute;
		width: 15%;

		}

	.upper-bar {

		height: 10%;
	
	}	

	h1.subtitulo {

		margin-top: 20%;
		font-size: 300% !important;
		padding-left: 10%;
		padding-right: 10%;

	}

	.logo-bar {

		height: 15%;

	}

	.card-body {

		font-size: 150% !important;
		padding: 5%;

	}

	.btn-link {

		font-size: 50px !important;

	}

	.col-services-text {

		width: 100% !important;
		margin-top: 2% !important;
		margin-bottom: 2% !important;

	}

	img.thumb-wapp {

		width: 5% !important;
	
	}

}

@media screen and (min-width: 1025px) and (max-width: 2000px) {
    
	img.logo {

		position: absolute;
		top: 20%;
		left: 16%;
		width: 35%;

		}

	img.logos {

		left: 45%;
		position: absolute;
		width: 10%;

		}

	.upper-bar {

		height: 10%;
	
	}	

	h1.subtitulo {

		margin-top: 20%;
		font-size: 400% !important;

	}

	.logo-bar {

		height: 25%;

	}

	.card-body {

		font-size: 150% !important;

	}

	.btn-link {

		font-size: 50px !important;

	}

	.col-services-text {

		width: 50% !important;
		margin: 0 !important;

	}

	.container {

		flex-flow: inherit !important;
		padding-left: 0 !important;
		padding-right: 0 !important;

	}

}

/* Extra large devices (large laptops and desktops, 1025px and up) */
@media screen and (min-width: 2001px) and (max-width: 3000px) {
    
	img.logo {

		position: absolute;
		top: 10%;
		left: 16%;
		width: 35%;

		}

	img.logos {

		left: 45%;
		position: absolute;
		width: 8%;

		}

	.upper-bar {

		height: 8%;
	
	}	

	h1.subtitulo {

		margin-top: 20%;
		font-size: 400% !important;

	}

	.logo-bar {

		height: 35%;

	}

	.card-body {

		font-size: 200% !important;

	}

	.btn-link {

		font-size: 80px !important;

	}

	.col-services-text {

		width: 50% !important;

	}

	.container {

		flex-flow: inherit !important;

	}

}